<launch>
    
    <!-- Configuration -->
    <rosparam command="load" file="$(find uw-slam)/config/configuration.yml"/>

    <!-- Main uw-slam -->
    <node pkg="uw-slam" type="main_uw_slam" name="main" output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>

</launch>